.homepage {

  &--mainTitle {
    cursor: pointer;
    font-family: $fontOswald;
    font-weight: 300;
    letter-spacing: 0.4rem;
    color: #000;
    text-shadow: 4px 3px 3px #fff;
    font-size: 5rem;
    z-index: 3 !important;
    opacity: 1 !important;
    @include screenSize($tablet) {
      letter-spacing: 1.3rem;
      font-size: 8rem;
    }
  }

  &--subTitle {
    cursor: pointer;
    font-family: $fontAdvent;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    text-shadow: 0px 0px 15px #000;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    font-variant: small-caps;
    z-index: 30;
  }
}

// Carousel
.myCarousel{
  height: 85vh !important;
}

.pageCover{

  height: 85vh;

  &--title{
    text-align: center;
    padding-top: 37vh;
    width: 100%;
    font-family: $fontOswald;
    font-weight: 100;
    letter-spacing: 0.4rem;
    color: #000;
    text-shadow: 4px 3px 3px #fff;
    font-size: 3rem;
    @include screenSize($tablet) {
      font-size: 5rem;
      letter-spacing: 1.3rem;
    }
  }
}
