@import url('https://fonts.googleapis.com/css?family=Advent+Pro:300,500|Oswald:500|Roboto+Condensed');


// Font Family Vars
$fontRoboto: 'Roboto Condensed', sans-serif;
$fontOswald: 'Oswald', sans-serif;
$fontAdvent: 'Advent Pro', sans-serif;

.fontOswald {
  font-family: $fontOswald;
}
.fontRoboCondens {
  font-family: $fontRoboto;
}
.fontAdventPro {
  font-family: $fontAdvent;
}
