.homepage {
  width: 100%;
  height: 90vh;

  &--mainTitle {
    font-family: $fontOswald;
    font-weight: 300;
    letter-spacing: 1.3rem;
    color: #000;
    text-shadow: 4px 3px 3px #fff;
    font-size: 5rem;
    z-index: 3 !important;
    opacity: 1 !important;
    @include screenSize($tablet) {
      font-size: 8rem;
    }
  }

  &--downArrow {
    position: absolute !important;
    top: 90%;
    left: 40%;
    @include screenSize($tablet) {
      left: 45%;
    }
    @include screenSize($desktop) {
      left: 47%;
    }
  }
}

.myCarousel{
  height: 90vh !important;
}
