.navBar {
  background-color: #FAFAFA !important;
  &--title {
    letter-spacing: 5px !important;
  }


  &--drawerTitle {
    letter-spacing: 3px;
    font-size: 1.3rem;
  }

  &--drawerLinks{
    font-family: $fontAdvent;
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 7px;

  }
}
